/*--------------------------------------------------------------
>>> CONTENT STYLES:
----------------------------------------------------------------
# Filters
    # Invert colors
    # Bluelight
    # Dynamic theme
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# FILTERS
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# INVERT COLORS
--------------------------------------------------------------*/

html[data-invert-colors] canvas,
html[data-invert-colors] img,
html[data-invert-colors] video,
html[data-invert-colors] [style*=background-image] {
    filter: invert(1);
}

html[data-invert-colors] {
    background-color: #fff;
}


/*--------------------------------------------------------------
# BLUELIGHT
--------------------------------------------------------------*/

#dark-mode__bluelight {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}


/*--------------------------------------------------------------
# DYNAMIC THEME
--------------------------------------------------------------*/

html:not(.dark-mode--ready),
html:not(.dark-mode--ready) body,
html:not(.dark-mode--ready) body :not(iframe) {
    color: rgb(82, 82, 82) !important;
    background-color: rgb(20, 20, 20) !important;
    border-color: rgb(41, 41, 41) !important;
    fill: rgb(82, 82, 82) !important;
    stroke: rgb(82, 82, 82) !important;
    transition: none !important;
}