/*--------------------------------------------------------------
>>> CONTENT STYLES:
----------------------------------------------------------------
# Filters
    # Invert colors
    # Bluelight
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# FILTERS
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# INVERT COLORS
--------------------------------------------------------------*/

html[data-invert-colors] canvas,
html[data-invert-colors] iframe,
html[data-invert-colors] img,
html[data-invert-colors] video
{
    filter: invert(1);
}

html[data-invert-colors] {
    background-color: #fff;
}


/*--------------------------------------------------------------
# BLUELIGHT
--------------------------------------------------------------*/

#dark-mode__bluelight {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}