/*--------------------------------------------------------------
>>> CONTENT STYLES:
----------------------------------------------------------------
1.0 <html>...</html>
2.0 <body>...</body>
3.0 Elements
4.0 Pseudo-elements
--------------------------------------------------------------*/

@media screen {
    /*----------------------------------------------------------
    1.0 <HTML>...</HTML>
    ----------------------------------------------------------*/

    html:not(.dark-mode--ready) {
        position: unset !important;
        display: block !important;
        visibility: visible !important;
        transform: unset !important;
        opacity: 1 !important;
        color: #94969e !important;
        border-color: transparent !important;
        background-color: #121316 !important;
        background-image: none !important;
        box-shadow: none !important;
    }


    /*----------------------------------------------------------
    2.0 <BODY>...</BODY>
    ----------------------------------------------------------*/

    html:not(.dark-mode--ready) body {
        color: #94969e !important;
        border-color: transparent !important;
        background-color: #121316 !important;
        background-image: none !important;
        box-shadow: none !important;
    }


    /*----------------------------------------------------------
    3.0 ELEMENTS
    ----------------------------------------------------------*/

    html:not(.dark-mode--ready) body :not(iframe) {
        color: #94969e !important;
        border-color: transparent !important;
        outline: none !important;
        background-color: transparent !important;
        background-image: none !important;
        box-shadow: none !important;
    }


    /*----------------------------------------------------------
    4.0 PSEUDO-ELEMENTS
    ----------------------------------------------------------*/

    html:not(.dark-mode--ready) body ::before,
    html:not(.dark-mode--ready) body ::after {
        color: #94969e !important;
        border-color: transparent !important;
        outline: none !important;
        background-color: transparent !important;
        background-image: none !important;
        box-shadow: none !important;
    }

    html:not(.dark-mode--ready) body ::placeholder {
        color: #94969e !important;
    }
}