
/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
1.0 Variables
2.0 Scroll bar
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 VARIABLES
---------------------------------------------------------------*/

.satus.dark,
.satus.dark + .satus-dialog
{
	--satus-theme-primary: #f6b465;

	--satus-theme-dialog: #2c2b2c;
	--satus-theme-dialog-text: #b5b5b5;

	--satus-theme-header: #343334;
	--satus-theme-header-text: #b5b5b5;

	--satus-theme-main: #2c2b2c;
	--satus-theme-main-text: #b5b5b5;

	--satus-theme-section: #343334;

	--satus-theme-button: transparent;

	--satus-theme-scrollbar: rgba(255, 255, 255, .2);
	--satus-theme-scrollbar-focus: rgba(255, 255, 255, .4);

	--satus-theme-tooltip: rgba(10, 10, 10, .7);

	--satus-theme-ripple: rgba(255, 255, 255, .04);
    
    
    --satus-theme-tabs-background: #292929;
    --satus-theme-tabs-border: #333;
}


/*---------------------------------------------------------------
2.0 SCROLL BAR
---------------------------------------------------------------*/

.satus-scrollbar__thumb::after {
	background-color: rgba(255, 255, 255, .2);
}

/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
1.0 Fonts
2.0 Body
3.0 Button
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 FONTS
---------------------------------------------------------------*/

@font-face
{
    font-family: 'Open Sans';
    font-weight: 400;

    src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 700;

    src: url('assets/fonts/OpenSans-SemiBold.ttf');
}


/*---------------------------------------------------------------
2.0 BODY
---------------------------------------------------------------*/

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: .875rem;

    width: 300px;
    height: 500px;
    margin: 0;
}

.satus
{
    position: absolute;
    z-index: 1;
    top: -250px;
    left: -350px;

    overflow: hidden;

    width: 1000px;
    height: 1000px;

    transition: all .5s linear, opacity .4s;

    opacity: 1;
    border-radius: 50%;
    background-color: var(--satus-theme-main);
}

.satus__wrapper
{
    position: absolute;
    top: 250px;
    left: 350px;

    display: flex;
    flex-direction: column;

    width: 300px;
    height: 500px;

    transition: .5s linear;
}




.satus.loading
{
    top: 14px;
    left: calc(100% - 64px);

    width: 32px;
    height: 32px;

    transition: 0s linear;

    opacity: 0;
}

.satus.loading .satus__wrapper
{
    top: -14px;
    left: -236px;

    transition: 0s linear;
}


/*---------------------------------------------------------------
3.0 BUTTON
---------------------------------------------------------------*/

button
{
    font-family: 'Open Sans', sans-serif;
}

/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
1.0 Header
2.0 Buttons
3.0 Back button
4.0 Title
5.0 Right section
6.0 Switch
7.0 Vertical menu
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 HEADER
---------------------------------------------------------------*/

.satus-header
{
    z-index: 1;

    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.satus-header .satus-section
{
    background-color: transparent;
}


/*---------------------------------------------------------------
2.0 BUTTONS
---------------------------------------------------------------*/

.satus-header .satus-button
{
    width: 36px;
    height: 36px;
    padding: 6px;
}

.satus-header .satus-button::before
{
    border-radius: 50%;
}


/*---------------------------------------------------------------
3.0 BACK BUTTON
---------------------------------------------------------------*/

.satus-button--back
{
    position: absolute;
}

.satus-button--back svg
{
    fill: none;
    stroke: currentColor;
}

body[data-appearance='home'] .satus-button--back
{
    visibility: hidden;
}


/*---------------------------------------------------------------
4.0 TITLE
---------------------------------------------------------------*/

.satus-text--title
{
    position: absolute;
    left: 56px;
}

body[data-appearance='home'] .satus-text--title
{
    left: 14px;
}


/*---------------------------------------------------------------
5.0 RIGHT SECTION
---------------------------------------------------------------*/

.satus-section--align-end
{
    justify-content: flex-end;
}


/*---------------------------------------------------------------
6.0 SWITCH
---------------------------------------------------------------*/

.satus-switch--night-mode
{
    display: none;
    padding: 0;
}

body[data-appearance='home'] .satus-switch--night-mode
{
    display: flex;
}

.satus-switch--night-mode:hover
{
    background-color: transparent;
}

.satus-switch--night-mode[data-value=false] > svg:last-child
{
    opacity: .5;
}

.satus-switch--night-mode[data-value=true] > svg:first-child
{
    opacity: .5;
}

.satus-switch--night-mode .satus-switch__track
{
    margin: 0 4px;
}

.satus-switch--night-mode  .satus-switch__input:checked + .satus-switch__track
{
    background: #777;
}


/*---------------------------------------------------------------
7.0 VERTICAL MENU
---------------------------------------------------------------*/

.satus-dialog--vertical-menu-button
{
    display: none
}

body[data-appearance='websites'] .satus-dialog--vertical-menu-button
{
    display: block
}

/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
1.0 Main
2.0 Section
3.0 Button
4.0 Folder
5.0 Swith
6.0 Textarea
7.0 Websites
8.0 Language
9.0 About
10.0 Made with love
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 MAIN
---------------------------------------------------------------*/

.satus-main
{
    flex: 1;
}

.websites-textfield
{
    display: none
}

body[data-website-text-editor="true"] .websites-list
{
    display: none
}

body[data-website-text-editor="true"] .websites-textfield
{
    display: block
}


/*---------------------------------------------------------------
2.0 SECTION
---------------------------------------------------------------*/

.satus-main .satus-section
{
    display: block;

    width: calc(100% - 16px);
    max-width: 900px;
    margin: 8px auto;
    padding: 8px 0;

    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 8px;
}

.satus-main .satus-section.satus-section--toolbar
{
    box-shadow: none;
    border: none;
    padding: 0;
    background: none;
}

.satus-section--toolbar .satus-text
{
    display: block;
    padding: 16px;
    line-height: 14px;
    color: #ad5f5f;
    border: 1px solid #ecd7d7;
    border-radius: 8px;
    background: #fde6e6;
}

.satus.dark .satus-section--toolbar .satus-text
{
    color: rgba(255, 127, 127, .7);
    border: 1px solid rgba(255, 0, 0, .15);
    background: rgba(255, 0, 0, .1);
}

.satus-section--toolbar .satus-switch
{
    height: 48px;
    border: 1px solid #f9e0b8;
    border-radius: 8px;
    background: #ffefd5;
}

.satus-section--toolbar .satus-switch:hover
{
    background: #ffe7c1
}

.satus.dark .satus-section--toolbar .satus-switch
{
    border: 1px solid rgba(255, 157, 0, .15);
    background: rgba(255, 158, 0, .1);
}

.satus.dark .satus-section--toolbar .satus-switch:hover
{
    background: rgba(255, 158, 0, .2);
}

.satus-section--toolbar  .satus-switch__label
{
    color: #ad7622;
}

.satus-section--toolbar .satus-switch__track
{
    background-color: rgba(0, 0, 0, .1)
}

.satus-section--toolbar .satus-switch__track::after
{
    background-color: rgba(255, 255, 255, .7)
}

.satus-section--toolbar .satus-switch__input
{
    cursor: pointer;
}

.satus-section--toolbar .satus-switch__input:checked + .satus-switch__track {
    background: rgba(246, 180, 101, .9);
}


/*---------------------------------------------------------------
3.0 BUTTON
---------------------------------------------------------------*/

.satus-main .satus-button
{
    width: 100%;
    height: 48px;
    min-height: 48px;
    padding: 0 16px;
}


/*---------------------------------------------------------------
4.0 FOLDER
---------------------------------------------------------------*/

.satus-main .satus-folder svg
{
    width: 20px;
    height: 20px;
    margin: 0 14px 0 0;

    stroke: none;
}


/*---------------------------------------------------------------
5.0 SWITCH
---------------------------------------------------------------*/

.satus-switch:hover,
.satus-switch:hover input
{
    cursor: pointer;
}

.satus-switch--night-mode
{
    width: auto;
}

.satus-switch__icon
{
    width: 20px;
    height: 20px;
}


/*---------------------------------------------------------------
6.0 TEXTAREA
---------------------------------------------------------------*/

.satus-textarea
{
    width: calc(100% - 32px);
}


/*---------------------------------------------------------------
7.0 WEBSITES
---------------------------------------------------------------*/

.satus-main__container[data-appearance=websites] .satus-section > .satus-section
{
    position: relative;

    width: 100%;
    margin: 0;
    padding: 0;

    border: none;
    background: transparent;
    box-shadow: none;
}

.satus-main__container[data-appearance=websites] .satus-section > .satus-section .satus-switch
{
    position: absolute;
    top: 0;
    right: 0;

    width: auto;
    height: 100%;
}

.satus[data-path='main/websites'] .satus-main .satus-section
{
    position: relative;

    padding: 0;
}

.satus[data-path='main/websites'] .satus-main .satus-section .satus-switch
{
    position: absolute;
    top: 0;
    right: 0;

    width: auto;
}


/*---------------------------------------------------------------
8.0 LANGUAGE
---------------------------------------------------------------*/

.satus-select[data-storage-key=language]
{
    padding-left: 50px;
}

.satus-select[data-storage-key=language] svg
{
    position: absolute;
    left: 16px;

    width: 20px;
    height: 20px;

    stroke: none;
}


/*---------------------------------------------------------------
9.0 ABOUT
---------------------------------------------------------------*/

.satus-main__container[data-appearance='about'] .satus-text
{
    display: flex;

    box-sizing: border-box;
    width: 100%;
    min-height: 48px;
    padding: 0 16px;

    justify-content: space-between;
    align-items: center;
}

.satus-main__container[data-appearance='about'] .satus-text__value
{
    text-align: right;

    opacity: .7;
}


/*---------------------------------------------------------------
10.0 MADE WITH LOVE
---------------------------------------------------------------*/

.made-with-love
{
    font-size: 13px;

    position: absolute;
    bottom: 16px;
    left: 50%;

    width: 100%;
    height: auto;
    min-height: auto;
    padding: 0;

    cursor: pointer;
    transform: translateX(-50%);
    text-align: center;

    justify-content: center;
}

.made-with-love svg
{
    position: relative;
    top: 4px;

    width: 16px;
    height: 16px;

    fill: #d62121;
}

.made-with-love span
{
    margin: 0 0 0 4px;
}




















/*.satus-switch--enable .satus-switch__label
{
    font-size: 12px;
    font-weight: 700;

    text-transform: uppercase;
}*/







.satus-switch--checkbox .satus-switch__track
{
    width: 19px;
    min-width: 19px;
    max-width: 19px;
    height: 19px;
    min-height: 19px;
    max-height: 19px;

    opacity: .7;
    border-radius: 50%;
    background: transparent;
    box-shadow: inset 0 0 0 1px var(--satus-theme-main-text);
}

.satus-switch--checkbox .satus-switch__input:checked + .satus-switch__track
{
    background: transparent;
}

.satus-switch--checkbox .satus-switch__track::before
{
    position: absolute;

    visibility: hidden;

    width: 7px;
    height: 4px;

    transition: unset;
    transform: rotate(-45deg);

    opacity: 0;
    border: 2px solid var(--satus-theme-main-text);
    border-top: none;
    border-right: none;
    border-radius: unset;
    background-color: transparent;
}

.satus-switch--checkbox .satus-switch__input:checked + .satus-switch__track::before
{
    top: 6px;
    left: 5px;

    visibility: visible;

    transform: rotate(-45deg);

    opacity: 1;
    background: transparent;
}

.satus-switch--checkbox .satus-switch__track::after
{
    content: none;
}
