
html {
    --primary: #E8BD70;
    
    --background-1: #2C2B2C;
    --background-hover-1: rgba(0, 0, 0, .1);
    --text-1: #B5B5B5;
    --icon-1: #E8BD70;

    --satus-theme-surface: #343334;
    --background-hover-2: rgba(0, 0, 0, .1);
    --satus-theme-on-surface: #E5E5E5;
    --satus-theme-on-surface: #E5E5E5;

    --background-3: #2C2B2C;
    --background-hover-3: rgba(0, 0, 0, .1);
    --text-3: #B5B5B5;
    --icon-3: #B5B5B5;
}
/*--------------------------------------------------------------
>>> HEADER:
----------------------------------------------------------------
1.0 Buttons
    1.1 Back button
2.0 Title
3.0 Right section
4.0 Search
5.0 Vertical menu
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 BUTTONS
--------------------------------------------------------------*/

.satus-header .satus-button
{
    width: 36px;
    height: 36px;
    padding: 6px;
}

.satus-header .satus-button::before
{
    border-radius: 50%;
}


/*--------------------------------------------------------------
1.1 BACK BUTTON
--------------------------------------------------------------*/

.satus-button--back
{
    position: absolute;
}

.satus-button--back svg
{
    fill: none;
    stroke: currentColor;
}

body[data-appearance='home'] .satus-button--back
{
    visibility: hidden;
}


/*--------------------------------------------------------------
2.0 TITLE
--------------------------------------------------------------*/

.satus-text--title
{
    font-size: .9375rem;
    font-weight: 400;

    position: absolute;
    left: 56px;

    letter-spacing: .0125em;
}

body[data-appearance='home'] .satus-text--title
{
    left: 14px;
}


/*--------------------------------------------------------------
3.0 RIGHT SECTION
--------------------------------------------------------------*/

.satus-section--align-end
{
    justify-content: flex-end;
}

.satus-section--align-end .satus-button + .satus-button
{
    margin-left: 8px;
}


/*--------------------------------------------------------------
4.0 SEARCH
--------------------------------------------------------------*/

.satus-dialog--search
{
    pointer-events: none;
}

.satus-dialog--search .satus-dialog__scrim
{
    display: none;
}

.satus-dialog--search .satus-dialog__surface
{
    position: fixed;
    top: 11px;
    right: 8px;

    visibility: unset;

    width: calc(100% - 62px);
    min-width: unset;
    max-width: unset;
    height: 34px;
    padding: 0;

    transform: unset;
    animation: unset;
    pointer-events: all;

    opacity: unset;
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: unset;
}

.satus-dialog--search .satus-dialog__surface .satus-text-field
{
    height: 34px;
}

.satus-dialog--search .satus-dialog__surface .satus-button
{
    position: absolute;
    top: 3px;
    right: 3px;

    overflow: hidden;

    width: 32px;
    height: 32px;

    border-radius: 50%;
}

.satus-dialog--search .satus-dialog__surface .satus-button svg
{
    fill: unset;
    stroke: currentColor;
}


/*--------------------------------------------------------------
5.0 VERTICAL MENU
--------------------------------------------------------------*/

.satus-dialog--vertical-menu .satus-dialog__surface
{
    position: absolute;
    top: 8px;
    right: 8px;
    left: auto;

    min-width: 180px;
    max-width: 180px;

    transform-origin: right top;
}

.satus-dialog--vertical-menu .satus-button,
.satus-dialog--vertical-menu .satus-folder
{
    width: 100%;
    height: 36px;
    padding: 0 16px;

    text-align: left;
}

.satus-dialog--vertical-menu .satus-folder svg,
.satus-dialog--vertical-menu .satus-button svg
{
    width: 20px;
    height: 18px;
    margin: 0 14px 0 0;

    opacity: .75;

    fill: none;
    stroke: #f6b465;
}

.satus-dialog--vertical-menu .satus-folder--mixer svg
{
    height: 20px;
}

.satus-dialog--vertical-menu .satus-button--github svg
{
    width: 18px;
    height: 18px;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Fonts
# Basic
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# FONTS
--------------------------------------------------------------*/

@font-face
{
    font-family: 'Open Sans';
    font-weight: 400;

    src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 700;

    src: url('assets/fonts/OpenSans-SemiBold.ttf');
}


/*--------------------------------------------------------------
# BASIC
--------------------------------------------------------------*/

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: .875rem;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 18.75rem;
    height: 31.25rem;
    margin: 0;
}


/*--------------------------------------------------------------
# MADE WITH LOVE
--------------------------------------------------------------*/

.made-with-love
{
    font-size: 13px;

    position: absolute;
    bottom: 16px;
    left: 50%;

    width: 100%;
    height: auto;
    min-height: auto;
    padding: 0;

    cursor: pointer;
    transform: translateX(-50%);

    justify-content: center;
}

.made-with-love svg
{
    width: 16px;
    height: 16px;
    margin: 0 4px;

    fill: #d62121;
}

.made-with-love span
{
    margin: 0 0 0 4px;
}























.satus[data-path='main/websites'] .satus-main .satus-section
{
    position: relative;

    padding: 0;
}

.satus[data-path='main/websites'] .satus-main .satus-section .satus-switch
{
    position: absolute;
    top: 0;
    right: 0;

    width: auto;
}

.satus-textarea
{
    width: calc(100% - 32px);
}

.satus-main .satus-button
{
    width: 100%;
}

.satus-main .satus-switch:hover
{
    background: var(--background-hover-2);
}
