/*--------------------------------------------------------------
>>> POPUP
----------------------------------------------------------------
# Base
# Header
# Layers
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# BASE
--------------------------------------------------------------*/

html {
    --satus-primary: rgb(255, 255, 255, .25);
    --satus-modal-background: #191b1f;
    --satus-dialog-text: #b5b5b5;
    --satus-header-background: #2b2e3b;
    --satus-header-text: #dedfe3;
    --satus-layers-background: #111218;
    --satus-layers-text: #c7c7d1;
    --satus-section-card-background: #22252f;
    --satus-hover: rgba(255, 255, 255, .06);
    --satus-switch-track: #454d5f;
    --satus-switch-track--active: #375a6c;
    --satus-switch-thumb: #c6cad2;
    --satus-tabs: #29303d;
}


/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

.satus-header {
    box-shadow: 0 1px 0 #333747;
    font-weight: 600;
    z-index: 1;
}


/*--------------------------------------------------------------
# LAYERS
--------------------------------------------------------------*/

.satus-switch--domain {
    width: calc(100% - 24px);
    height: 48px;
    margin: 12px auto 0;
    padding: 0 16px;
    transition: 150ms;
    color: #7d95a1;
    border: 1px solid #233843;
    border-radius: 8px;
    background-color: #1c2d36;

    --satus-switch-track: #2a4451;
    --satus-switch-track--active: #457187;
    --satus-switch-thumb: #bcd1dc;
}

.satus-switch--domain:focus,
.satus-switch--domain:hover {
    color: #899ea9;
    border-color: #2a4350;
    background-color: #233843;
}

.satus-alert {
    width: calc(100% - 24px);
    margin: 12px auto 0;
}

.satus-section--column {
    width: 100%;
    height: 100%;
}

.satus-section--styles {
        flex: 1;
    margin: 8px;
}

.satus-text-field {
    box-sizing: border-box;
    appearance: none;
    outline: none;
    display: block;
    border: none;
    margin: 0;
    padding: 8px;
    width: calc(100% - 16px);
    border-radius: 8px;
    flex: 1;
}


/*--------------------------------------------------------------
# MADE WITH LOVE
--------------------------------------------------------------*/

.made-with-love {
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    bottom: 16px;
    left: 50%;
    width: 100%;
    height: auto;
    min-height: auto;
    padding: 0;
    cursor: pointer;
    transition: 150ms;
    transform: translateX(-50%);
    text-align: center;
    text-decoration: none;
    opacity: .4;
    color: #9595b2;
    justify-content: center;
}

.made-with-love:hover {
    opacity: 1;
}

[hide-made-with-love=true] .made-with-love {
    display: none;
}

.made-with-love svg {
    position: relative;
    top: 4px;
    width: 16px;
    height: 16px;
}

.made-with-love span {
    margin: 0 0 0 4px;
}