/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Document
# Scrollbar
# Link
# Button, input, select, textarea
# Fieldset, hr, iframe, table
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# DOCUMENT
--------------------------------------------------------------*/

html,
body
{
    color: #fff;
    background-color: #000;
}


/*--------------------------------------------------------------
# SCROLLBAR
--------------------------------------------------------------*/

::-webkit-scrollbar
{
    background-color: #333;
}

::-webkit-scrollbar-button:single-button
{
    display: block;

    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:hover
{
    background-color: #555;
}

::-webkit-scrollbar-button:single-button:vertical
{
    background-size: 7px 4px;
}

::-webkit-scrollbar-button:single-button:horizontal
{
    background-size: 4px 7px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement
{
    width: 16px;
    height: 15px;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4" fill="rgb(125, 125, 125)"><polygon points="3.5,0 0,4 7,4"/></svg>');
    background-position: 4px 6px;
}

::-webkit-scrollbar-button:single-button:vertical:increment
{
    width: 16px;
    height: 15px;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4" fill="rgb(125, 125, 125)"><polygon points="0,0 7,0 3.5,4"/></svg>');
    background-position: 4px 5px;
}

::-webkit-scrollbar-button:single-button:horizontal:decrement
{
    width: 15px;
    height: 16px;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="7" fill="rgb(125, 125, 125)"><polygon points="0,3.5 4,0 4,7"/></svg>');
    background-position: 5px 4px;
}

::-webkit-scrollbar-button:single-button:horizontal:increment
{
    width: 15px;
    height: 16px;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="7" fill="rgb(125, 125, 125)"><polygon points="0,0 0,7 4,3.5"/></svg>');
    background-position: 6px 4px;
}

::-webkit-scrollbar-thumb
{
    border-right: 2px solid #333;
    border-left: 2px solid #333;
    background-color: #555;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: #666;
}

::-webkit-scrollbar-thumb:active
{
    background-color: #666;
}

::-webkit-scrollbar-corner
{
    background-color: #444;
}


/*--------------------------------------------------------------
# LINK
--------------------------------------------------------------*/

a
{
    color: #0075ff;
}


/*--------------------------------------------------------------
# BUTTON, INPUT, SELECT, TEXTAREA
--------------------------------------------------------------*/

button,
input,
select,
textarea
{
    color: #fff;
    border-color: #333;
    background-color: #000;
}

button[disabled],
input[disabled],
select[disabled],
textarea[disabled]
{
    opacity: .5;
}

input[type=text],
textarea
{
    background-color: transparent;
}


/*--------------------------------------------------------------
# BORDER
--------------------------------------------------------------*/

fieldset,
hr,
iframe
{
    border-color: #808080;
}

table
{
    border-color: #808080;
}
