/*--------------------------------------------------------------
>>> FONTS
----------------------------------------------------------------
# Regular
# Medium
# Bold
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# REGULAR
--------------------------------------------------------------*/

@font-face {
	font-family: Roboto;

	src: url(../../assets/fonts/Roboto-Regular.ttf);
}


/*--------------------------------------------------------------
# MEDIUM
--------------------------------------------------------------*/

@font-face {
	font-family: Roboto;
	font-weight: 500;

	src: url(../../assets/fonts/Roboto-Medium.ttf);
}


/*--------------------------------------------------------------
# BOLD
--------------------------------------------------------------*/

@font-face {
	font-family: Roboto;
	font-weight: 700;

	src: url(../../assets/fonts/Roboto-Bold.ttf);
}