/*-----------------------------------------------------------------------------
>>> «FOLDER» COMPONENT
-----------------------------------------------------------------------------*/

.satus-folder
{
    display: flex;

    cursor: pointer;

    align-items: center;
}

.satus-folder:hover
{
    background: var(--background-hover-1);
}

.satus-folder > svg
{
    width: 22px;
    height: 22px;
    margin-right: 10px;

    opacity: .95;

    fill: var(--icon-1);
}
