/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
1.0 Fonts
2.0 Body
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 FONTS
---------------------------------------------------------------*/

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	src: url('assets/fonts/OpenSans-SemiBold.ttf');
}


/*---------------------------------------------------------------
2.0 BODY
---------------------------------------------------------------*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: .875rem;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	width: 18.75rem;
	height: 31.25rem;
	margin: 0;
	background-color: #2c2b2c;
}