/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
# Header
# Buttons
# Back button
# Title
# Right section
# Switch
# Vertical menu
---------------------------------------------------------------*/

/*---------------------------------------------------------------
# SWITCH
---------------------------------------------------------------*/

.satus-switch--dark-mode
{
    display: none;

    padding: 0;
}

body[data-appearance='home'] .satus-switch--dark-mode
{
    display: flex;
}

.satus-switch--dark-mode:hover
{
    background-color: transparent;
}

.satus-switch--dark-mode[data-value=false] > svg:last-child
{
    opacity: .5;
}

.satus-switch--dark-mode[data-value=true] > svg:first-child
{
    opacity: .5;
}

.satus-switch--dark-mode .satus-switch__track
{
    margin: 0 4px;
}

.satus-switch--dark-mode .satus-switch__track
{
    background: #777 !important;
}


/*---------------------------------------------------------------
# VERTICAL MENU
---------------------------------------------------------------*/

.satus-dialog--vertical-menu-button
{
    display: none;
}

body[data-appearance='websites'] .satus-dialog--vertical-menu-button
{
    display: block;
}
