html {
    --satus-theme-primary: #E8BD70;
    
    --background-1: #2C2B2C;
    --text-1: #B5B5B5;
    --icon-1: #E8BD70;

    --satus-theme-surface: #343334;
    --satus-theme-on-surface: #E5E5E5;
    --satus-theme-on-surface: #E5E5E5;

    --background-3: #2C2B2C;
    --text-3: #B5B5B5;
    --icon-3: #B5B5B5;
}