/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
1.0 Variables
2.0 Scroll bar
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 VARIABLES
---------------------------------------------------------------*/

.satus.dark,
.satus.dark + .satus-dialog
{
    --satus-theme-primary: #f6b465;
    --satus-theme-dialog: #2c2f2d;
    --satus-theme-dialog-text: #b5b5b5;
    --satus-theme-header: #2c2f2d;
    --satus-theme-header-text: #b5b5b5;
    --satus-theme-main: #242625;
    --satus-theme-main-text: #b5b5b5;
    --satus-theme-section: #2c2f2d;
    --satus-theme-button: transparent;
    --satus-theme-scrollbar: rgba(255, 255, 255, .2);
    --satus-theme-scrollbar-focus: rgba(255, 255, 255, .4);
    --satus-theme-tooltip: rgba(10, 10, 10, .7);
    --satus-theme-ripple: rgba(255, 255, 255, .04);
    --satus-theme-tabs-background: #292929;
    --satus-theme-tabs-border: #333;
    --satus-theme-hover: rgba(255,255,255,.07);
}


/*---------------------------------------------------------------
2.0 SCROLL BAR
---------------------------------------------------------------*/

.satus-scrollbar__thumb::after {
	background-color: rgba(255, 255, 255, .2);
}
