/*-----------------------------------------------------------------------------
>>> «SECTION» COMPONENT
-----------------------------------------------------------------------------*/

.satus-section
{
    display: flex;

    flex: 1;
    align-items: center;
}

.satus-section--align-start
{
    justify-content: flex-start;
}


.satus-section--align-end
{
    justify-content: flex-end;
}

.satus-section__label
{
    width: 100%;

    opacity: .5;
}
