/*--------------------------------------------------------------
>>> POPUP
----------------------------------------------------------------
# Base
# Header
# Layers
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

.satus-header {
    font-weight: 600;
    z-index: 1;
    box-shadow: 0 1px 0 #3c4053;
}


/*--------------------------------------------------------------
# LAYERS
--------------------------------------------------------------*/

.satus-tabs {
    width: 100%;
    margin: 12px 0 4px;
}

.satus-switch--domain {
    width: 100%;
    height: 48px;
    margin: 8px auto 0;
    padding: 0 16px;
    transition: 150ms;
    color: #7d95a1;
    border: 1px solid #233843;
    border-radius: 8px;
    background-color: #1c2d36;
    --satus-switch-track: #2a4451;
    --satus-switch-track--active: #457187;
    --satus-switch-thumb: #bcd1dc;
}

.satus-switch--domain:focus,
.satus-switch--domain:hover {
    color: #899ea9;
    border-color: #2a4350;
    background-color: #233843;
}

.satus-alert {
    margin: 12px auto 0;
}

.satus-section--card {
    border-color: #3c4053;
}

.satus-section--column {
    width: 100%;
    height: 100%;
}

.satus-section--styles {
    margin: 8px 0;
    flex: 1;
}

.satus-textarea {
    font-family: monospace;
    font-size: inherit;
    width: 100%;
    padding: 8px;
    resize: none;
    color: inherit;
    border: 1px solid #3c4053;
    border-radius: 8px;
    outline: none;
    background: var(--satus-section-card-background);
    appearance: none;
}

.satus-div--website-item {
    position: relative;
    padding: 0 !important;
}

.satus-button--favicon {
    display: flex;
    width: 100%;
    align-items: center;
}

.satus-button--favicon img {
    height: 16px;
    margin-right: 12px;
}

.satus-button--favicon span {
    line-height: 0;
}

.satus-button--delete {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.satus-button--favicon:hover+.satus-button--delete,
.satus-button--delete:hover {
    display: flex;
}


/*--------------------------------------------------------------
# MADE WITH LOVE
--------------------------------------------------------------*/

.made-with-love {
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    bottom: 16px;
    left: 50%;
    width: 100%;
    height: auto;
    min-height: auto;
    padding: 0;
    cursor: pointer;
    transition: 150ms;
    transform: translateX(-50%);
    text-align: center;
    text-decoration: none;
    color: #9595b2;
    justify-content: center;
}

[hide-made-with-love=true] .made-with-love {
    display: none;
}

.made-with-love svg {
    position: relative;
    top: 4px;
    width: 16px;
    height: 16px;
}

.made-with-love span:first-child {
    margin: 0 4px 0 0;
}

.made-with-love span:last-child {
    margin: 0 0 0 4px;
}